backup
.vscode
*.lps
logic/packagefiles.xml
*.res
castle-engine-output
headless_app/physics_headless_test
headless_app/ExtractProServer
*.db
*.db-journal
lib
test/fpcunitproject1
Extract/.zed/
.gigacode
headless_app/ExtractProServer_visual
*.exe
Extract/data/references/
